<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>TPartyFinance - Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="shortcut icon" href="favicon.png" type="image/png">  
  <!-- Place favicon.ico in the root directory -->
  <meta name="theme-color" content="#fafafa">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.umd.modern.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kaizhu256.github.io/node-jose-lite/build..beta..travis-ci.org/app/assets.jose.js"></script>


    <div id="q-app">
        <div>
            <div class="row no-wrap">
            <q-toolbar class="col-8 toolbar-orange bg-orange q-pa-xs text-white">
                <img class="header-logo" src="logo-fintech-white.png"></img>
                <q-tabs v-model="tab">
                    <q-tab name="Produtos Financeiros" label="Produtos Financeiros"></q-tab>
                    <q-tab name="Segurança" label="Segurança"></q-tab>
                    <q-tab name="Contas" label="Contas"></q-tab>
                  </q-tabs>
            </q-toolbar>
            <q-toolbar  class="toolbar-align-right col-4 bg-grey-3 text-grey-9 text-right">
                <span class="q-pr-md">Bem-vindo(a) João da Silva</span>
                <q-btn flat round dense icon="apps" class="q-mr-xs" />
                <q-btn flat round dense icon="more_vert" />
            </q-toolbar>
            </div>
            <!-- <q-toolbar class="text-primary">
                <q-btn flat round dense icon="menu" />
                <q-toolbar-title>
                  Toolbar
                </q-toolbar-title>
                <q-btn flat round dense icon="more_vert" />
              </q-toolbar> -->
            <!-- <q-toolbar class="bg-orange text-white shadow-2">
              <q-btn flat round dense icon="menu" class="q-mr-sm" />
        
              <div class="q-pl-md q-gutter-sm row no-wrap items-center">
              <q-btn round flat>
                    <q-avatar size="26px">
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                    </q-avatar>
                    <q-tooltip>Account</q-tooltip>
                </q-btn>
                </div>
            </q-toolbar> -->
        </div>
        <div class="text-center q-mt-xl q-pa-xl">
            <img class="body-logo" src="logo-fintech.png"/>
        </div>
        <div class="bg-grey-2 q-py-lg">
            <div class="website-body q-pb-xl">
                
            <div v-if="!loggedIn">
                    <div class="row">
                        <div class="col-5">
                            <h4> Acessar contas</h4>
                            <div class="row">
                                <div class="col-12">
                                    <q-btn label="" size="md" class="full-width" text-color="white" color="blue-6" @click="authenticateRedirect"> <img class="q-ml-sm" style="width: 70px;" src="logo-bank.png"/> </q-btn>
                                </div>
                                <div class="col-12 q-pt-md">
                                    <q-btn label="Hilts Bank" size="md" class="full-width" text-color="white" color="deep-purple-6">  </q-btn>
                                </div>
                                <div class="col-12 q-pt-md">
                                    <q-btn label="Bank of Plata" size="md" class="full-width" text-color="white" color="pink-6">  </q-btn>
                                </div>
                                <div class="col-12 q-pt-md">
                                    <q-btn label="Either Bank" size="md" class="full-width" text-color="white" color="teal-6"> </q-btn>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 q-ml-xl q-pl-xl">
                            <h4> Adicionar Nova Conta</h4>
                            <div class="row">
                                <div class="col-2 q-pr-md">
                                    <q-btn label="" class="full-width" icon="add" size="md" text-color="white" color="orange-6" @click="authenticateRedirect"></q-btn>
                                </div>
                                <div class="col-9">
                                    <q-select outlined v-model="selectedBank" dense color="orange" :options="addBankOptions" label="Selecionar Banco" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="showRequestDetails" class="row q-mt-lg">
                        <div class="col-12 q-pr-md">
                            <q-list bordered class="rounded-borders">
                                <q-expansion-item
                                expand-separator
                                label="Detalhes da requisição"
                                class="bg-grey-1"
                                >
                                <q-card class="bg-grey-1">
                                    <q-card-section>
                                        <div class="row q-py-sm">
                                            <div class="col-12">
                                                <q-input
                                                    dense
                                                    outlined
                                                    color="blue"
                                                    v-model="clientId"
                                                    type="text"
                                                    label="Client ID"
                                                />
                                            </div>
                                        </div>
                                        <div class="row q-py-sm">
                                            <div class="col-12">
                                                <q-input
                                                    dense
                                                    outlined
                                                    color="blue"
                                                    v-model="grantType"
                                                    type="text"
                                                    label="Grant Type"
                                                />
                                            </div>
                                        </div>
                                        <div class="row q-py-sm">
                                            <div class="col-12">
                                                <q-input
                                                    dense
                                                    outlined
                                                    color="blue"
                                                    v-model="scope"
                                                    type="text"
                                                    label="Request scope"
                                                />
                                            </div>
                                        </div>
                                        <div class="row q-py-sm">
                                            <div class="col-12">
                                                <q-input
                                                    dense
                                                    outlined
                                                    color="blue"
                                                    v-model="requestToken"
                                                    type="text"
                                                    label="Request token"
                                                />
                                            </div>
                                        </div>
                                    </q-card-section>
                                </q-card>
                                </q-expansion-item>
                            </q-list>
                        </div>
                    </div>
            </div>


            

            <div v-if="loggedIn">
                <div class="row" >
                    <h4 class="q-my-none">Área do cliente</h4>
                </div>

                <div class="row">
                    <div class="col-12">
                        <q-card flat bordered class="my-card bg-grey-1">
                            <q-card-section>
                              <div class="row items-center no-wrap">
                                <div class="col">
                                  <div class="text-h6">Banco CBank</div>
                                  <div class="text-subtitle2">João da Silva</div>
                                </div>

                      
                                <img width="120px" src="logo-bank-black.png"/>
                              </div>
                            </q-card-section>
                      
                            <q-card-section class="q-pt-none">
                              <q-btn label="Obter contas" size="md" outline text-color="grey-10"  class="q-mt-md" color="grey-2" @click="getAccounts"></q-btn>
                              <q-btn label="Obter Saldo" size="md"  outline text-color="grey-10"  class="q-mt-md q-ml-md" color="grey-2" @click="getBalance"></q-btn>
                            </q-card-section>
                      
                            <q-separator></q-separator>
                            <q-card-section>
                                <pre v-if="printedResponse != ''">
                                {{ printedResponse }}
                                </pre>
                            </q-card-section>
                          </q-card>
                    </div>
                </div>
                
                <div v-if="showRequestDetails" class="row q-mt-lg">
                    <div class="col-12">
                        <q-list bordered class="rounded-borders">
                            <q-expansion-item
                            expand-separator
                            label="Detalhes da requisição"
                            class="bg-grey-1"
                            >
                            <q-card class="bg-grey-1">
                                <q-card-section>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="authorizationCode"
                                                type="text"
                                                label="Authorization Code"
                                            />
                                        </div>
                                    </div>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="idToken"
                                                type="text"
                                                label="ID Token"
                                            />
                                        </div>
                                    </div>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="scope"
                                                type="text"
                                                label="Request scope"
                                            />
                                        </div>
                                    </div>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="requestToken"
                                                type="text"
                                                label="Request token"
                                            />
                                        </div>
                                    </div>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="client_assertion"
                                                type="text"
                                                label="Client Assertion"
                                            />
                                        </div>
                                    </div>
                                </q-card-section>
                            </q-card>
                            </q-expansion-item>
                        </q-list>
                    </div>
                    </div>
                </div>
                    
            
        
        </div>
        <div class="website-body">
        <div class="q-pt-xl">
            <div class="row footer q-pt-md">
                <div class="col-4">
                    <ul>
                        <li class="footer-heading">Institucional</li>
                        <li><a>Confira Nossas Vagas</a></li>
                        <li><a>Cotação do Dólar</a></li>
                        <li><a></a></li>
                        <li><a>Segurança</a></li>
                        <li><a>Canal de denúncia</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        <li class="footer-heading">Políticas</li>
                        <li><a>Política de Segurança da Informação</a></li>
                        <li><a>Políticas de Privacidade</a></li>
                        <li><a>Tarifas</a></li>
                    </ul>
                </div>
                <div class="col-4 q-pl-lg q-pt-lg">
                    <q-btn @click="toggleRequestDetails" label="Mostrar detalhes da requisição" size="sm"></q-btn>
                </div>
            </div>
            <div class="row">
                <div class="col-12 q-pl-lg">
                TPartyFinance S.A. - Borbocue Avenue, 1219 - Saint Agostine. ADD: 30190-924 - USA
                FCN: 32.422.91268/32-01
                </div>
            </div>
        </div>


        </div>
        </div>
    </div>


  <script>

    new Vue({
      el: '#q-app',
      data: function () {
        return {
            addBankOptions: [
              "Wire Bank",
              "Bank of Neutrons",
              "Mars Bank",
              "Best Bank Ever"
            ],
            selectedBank: "",
            tab: '',
            showRequestDetails: false,
            clientId: 'E7QDJ0EGjCEJGDdjXwgSRK1D48ca',
            grantType: 'authorization_code',
            clientAssertionType: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer',
            redirectUri: 'http://localhost:8081',
            requestToken: 'eyJhbGciOiJQUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkR3TUtkV01tajdQV2ludm9xZlF5WFZ6eVo2UWMifQ.eyJhdWQiOiJodHRwczovL2xvY2FsaG9zdDo4MjQzL3Rva2VuIiwicmVzcG9uc2VfdHlwZSI6ImNvZGUgaWRfdG9rZW4iLCJjbGllbnRfaWQiOiJFN1FESjBFR2pDRUpHRGRqWHdnU1JLMUQ0OGNhIiwicmVkaXJlY3RfdXJpIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgxIiwic3RhdGUiOiJhZjBpZmpzbGRraiIsIm5vbmNlIjoibi0wUzZfV3pBMk1qIiwiY2xhaW1zIjp7InNoYXJpbmdfZHVyYXRpb24iOiI3MjAwIiwiaWRfdG9rZW4iOnsiYWNyIjp7ImVzc2VudGlhbCI6dHJ1ZSwidmFsdWVzIjpbInVybjpjZHMuYXU6Y2RyOjMiXX19LCJ1c2VyaW5mbyI6eyJnaXZlbl9uYW1lIjpudWxsLCJmYW1pbHlfbmFtZSI6bnVsbH19fQ.JKhZazDngh5z6BNN1p8SrONS3By7SFabnEsXHZ7VVdPcjRIWX15Lf7SZ1XYsXgE39eX_Ot8p67rRq9h88u3lD8Sfp2v8VUU3dUmXwNPUttWYuVrNlxCvGaza8CLOJ0UhfzZkN4EVc39us6_g3fo1AooOPx5aAohwAUT7iycVYtHJnZrofeTgyQ_IJXMJUpr7olUXcGsk_g9oVpgCPCfPxaAd9HX9EHJVR-Bx-YOfDwtQC_msizhKxmqmlbIeOZYPPI7EF8RgeUhGDIrkfCrZcjurU4-4Rzge6xGqoLa9ncLKJBGFfGKfYL64X032YIjcwwiDxFZLC7RRAy2IrDS5lg',
            scope: 'openid bank:accounts.basic:read bank:accounts.detail:read bank:transactions:read',
            privateKey: '',
            authorizationCode: '',
            idToken: '',
            loggedIn: false,
            client_assertion: "",
            access_token: "",
            accounts: "",
            balance: "",
            printedResponse: "",
            envVariables: {
                AUDIENCE: "",
                CLIENT_ID: "",
                REDIRECT_URL: "",
                REQUEST_AUTH_TOKEN: "",
                WSO2_PORTAL_BASE_URL: ""
            }
        }
      },
      methods: {
          authenticateRedirect() {
            window.location.href = `https://localhost:8243/authorize?prompt=login&state=state&response_type=code id_token&client_id=${this.clientId}&redirect_uri=${this.redirectUri}&scope=${this.scope}&request=${this.requestToken}`
          },

          toggleRequestDetails() {
            this.showRequestDetails = this.showRequestDetails == true ? false : true
          },

          
          getBalance() {
            const config = {
                headers: {
                    'Authorization': 'Bearer ' + this.access_token
                }
            }

            axios.get("http://localhost:8001/balance", config).then(response => {
                this.printedResponse = response.data
            })
          },
          
          getAccounts() {
            const config = {
                headers: {
                    'Authorization': 'Bearer ' + this.access_token
                }
            }

            axios.get("http://localhost:8001/accounts", config).then(response => {
                this.printedResponse = response.data
            })
          },

          getToken() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            var code = urlParams.get("code");
            this.authorizationCode = code;

            var idToken = urlParams.get("id_token");
            this.idToken = idToken;

            console.log(code)
            console.log("--------------- \n")
            console.log(idToken)
            // const axios = require('axios');

            data = {
                "authorizationCode": code
            }

            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            axios.post('http://localhost:8001/sign-token', data, config)
            .then((response) => {
                console.log(response.data)
                this.access_token = response.data.access_token
                this.client_assertion = response.data.client_assertion
            })
            .catch((err) => {
                console.log(err)
            })
          },

          getEnvVariables(){
            axios.get("http://localhost:8001/environment-variables").then(response => {
                console.log(response.data)
                const respEnv = response.data
                this.envVariables = {
                    AUDIENCE: respEnv.AUDIENCE,
                    CLIENT_ID: respEnv.CLIENT_ID,
                    REDIRECT_URL: respEnv.REDIRECT_URL,
                    REQUEST_AUTH_TOKEN: respEnv.REQUEST_AUTH_TOKEN,
                    WSO2_PORTAL_BASE_URL: respEnv.WSO2_PORTAL_BASE_URL
                }
            })
          },

          loggedPage() {
            this.loggedIn = true
            this.getToken();
          }
      },
      async mounted () {
        this.getEnvVariables();

        var currentUrl = window.location.href;
          if(currentUrl.includes('#')){
            var newUrl = currentUrl.replace("#","?")
            window.location.href = newUrl
          }

        if(window.location.search != '') {
            this.loggedPage()
            // this.generateClientAssetionToken();
        }

      }
      // ...etc
    })
  </script>


</body>
<style>
    #q-app {
        width:  100vw;
    }

    .website-body {
        width: 60%;
        margin: auto;
    }

    .toolbar-align-right {
        display: flex;
        justify-content: space-between;
    }

    .toolbar-orange {
        justify-content: space-between;
    }

    .header-logo {
        max-height: 50px;
    }

    .body-logo {
        max-height: 150px;
    }

    ul {
        list-style-type: none
    }

    .footer li a {
        color:  #c27023;
    }

    h4 {
        font-size: 25px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .footer {
        border-top: 2px solid #d6d6d6;
    }

    .footer-heading {
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }


</style>

</html>


<!-- IAT hora de agora, Expiration: umas horas pra frente, JTI pode ser o timestamp-->