<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>TPartyFinance - Demo</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">
  <link rel="stylesheet" href="css/styles.css">
  <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
 
  <!-- Place favicon.ico in the root directory -->
  <meta name="theme-color" content="#fafafa">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.umd.modern.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kaizhu256.github.io/node-jose-lite/build..beta..travis-ci.org/app/assets.jose.js"></script>


    <div id="q-app">
        <div>
            <div class="row no-wrap">
            <q-toolbar class="col-8 toolbar-orange bg-orange q-pa-xs text-white">
                <img class="header-logo" src="images/logo-fintech-white.png"></img>
                <q-tabs v-model="tab">
                    <q-tab name="Produtos Financeiros" :label="text.header.financial_products"></q-tab>
                    <q-tab name="Segurança" :label="text.header.security"></q-tab>
                    <q-tab name="Contas" @click="accountPage=false" :label="text.header.accounts"></q-tab>
                  </q-tabs>
            </q-toolbar>
            <q-toolbar  class="toolbar-align-right col-4 bg-grey-3 text-grey-9 text-right">
                <span class="q-pr-md">{{ text.header.welcome }} {{ text.general.user_full_name }}</span>
                <q-btn flat round dense icon="apps" class="q-mr-xs" />
                <q-btn flat round dense icon="more_vert" />
            </q-toolbar>
            </div>
        </div>
        <div class="text-center q-pa-xl">
            <img class="body-logo" src="images/logo-fintech.png" @click="fire()"/>
        </div>
        <div class="bg-grey-2 q-py-lg">
            <div class="website-body q-pb-xl">
                
            <div v-if="!accountPage">
                    <div class="row">
                        <div class="col-7">
                            <div class="q-mb-md">
                                <h4 class="q-mb-none"> {{ text.accounts_screen.access_accounts }}</h4>
                                <span> {{ text.accounts_screen.click_on_the_account }}</span>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <q-scroll-area style="height: 300px;" class="full-width">
                                        <q-card flat bordered class="my-card">
                                            <q-card-section v-if="loggedIn" @click="accountPage = true" horizontal class="bank-card">
                                                <q-card-section class="col-3 q-pr-none flex flex-center rounded-borders">
                                                    <img src="images/logo-bank-icon.png" class="dot"/>
                                                </q-card-section>
                                                <q-card-section>
                                                <div class="text-h6">{{ text.general.bank_name }}</div>
                                                <div class="text-subtitle2">2312 9924 4417 7848 2842</div>
                                                {{ text.accounts_screen.current_account }}: R$3066,09
                                                </q-card-section>
                                            </q-card-section>
                                      
                                            <q-separator v-if="loggedIn" inset></q-separator>

                                            <q-card-section horizontal class="bank-card">
                                                <q-card-section class="col-3 q-pr-none flex flex-center rounded-borders">
                                                    <span class="dot bg-red-13"></span>
                                                </q-card-section>
                                                <q-card-section>
                                                <div class="text-h6">Plasma Bank</div>
                                                <div class="text-subtitle2">3804 0074 0532 0130 0032</div>
                                                {{ text.accounts_screen.current_account }}: R$2013,44
                                                </q-card-section>
                                            </q-card-section>
                                      
                                            <q-separator inset></q-separator>

                                            <q-card-section horizontal class="bank-card">
                                                <q-card-section class="col-3 q-pr-none flex flex-center rounded-borders">
                                                    <span class="dot bg-purple-8"></span>
                                                </q-card-section>
                                                <q-card-section>
                                                <div class="text-h6">Either Bank</div>
                                                <div class="text-subtitle2">1020 3345 9980 3432 9084</div>
                                                {{ text.accounts_screen.savings_account }}: R$1009,24
                                                </q-card-section>
                                            </q-card-section>
                                      
                                            <q-separator inset></q-separator>


                                            <q-card-section horizontal class="bank-card">
                                                <q-card-section class="col-3 q-pr-none flex flex-center rounded-borders">
                                                    <span class="dot bg-light-green-13"></span>
                                                </q-card-section>
                                                <q-card-section>
                                                <div class="text-h6">Bank of Plata</div>
                                                <div class="text-subtitle2">4245 5628 432 8965 2341</div>
                                                {{ text.accounts_screen.current_account }}: R$514,84
                                                </q-card-section>
                                            </q-card-section>
                                      
                                            <q-separator inset></q-separator>


                                            <q-card-section horizontal class="bank-card">
                                                <q-card-section class="col-3 q-pr-none flex flex-center rounded-borders">
                                                    <span class="dot bg-orange"></span>
                                                </q-card-section>
                                                <q-card-section>
                                                <div class="text-h6">Hilts Bank</div>
                                                <div class="text-subtitle2">1020 3348 0922 5556 3211</div>
                                                {{ text.accounts_screen.current_account }}: R$322,88
                                                </q-card-section>
                                            </q-card-section>
                                          </q-card>
                                      </q-scroll-area>
                                </div>


                            </div>
                        </div>
                        <div class="col-4 q-ml-xl">
                            <h4> {{ text.accounts_screen.add_account }}</h4>
                            <div class="row">
                                <div class="col-3 q-pr-md">
                                    <q-btn label="" class="full-width" icon="add" size="md" text-color="white" color="orange-6" @click="authenticateRedirect"></q-btn>
                                </div>
                                <div class="col-8">
                                    <q-select outlined v-model="selectedBank" dense color="orange" :options="addBankOptions" :label="text.accounts_screen.select_bank" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="showRequestDetails" class="row q-mt-lg">
                        <div class="col-12 q-pr-md">
                            <q-list bordered class="rounded-borders">
                                <q-expansion-item
                                expand-separator
                                :label="text.general.request_details"
                                class="bg-grey-1"
                                >
                                <q-card class="bg-grey-1">
                                    <q-card-section>
                                        <div class="row q-py-sm">
                                            <div class="col-12">
                                                <q-input
                                                    dense
                                                    outlined
                                                    color="blue"
                                                    v-model="clientId"
                                                    type="text"
                                                    label="Client ID"
                                                />
                                            </div>
                                        </div>
                                        <div class="row q-py-sm">
                                            <div class="col-12">
                                                <q-input
                                                    dense
                                                    outlined
                                                    color="blue"
                                                    v-model="grantType"
                                                    type="text"
                                                    label="Grant Type"
                                                />
                                            </div>
                                        </div>
                                        <div class="row q-py-sm">
                                            <div class="col-12">
                                                <q-input
                                                    dense
                                                    outlined
                                                    color="blue"
                                                    v-model="scope"
                                                    type="text"
                                                    label="Request scope"
                                                />
                                            </div>
                                        </div>
                                    </q-card-section>
                                </q-card>
                                </q-expansion-item>
                            </q-list>
                        </div>
                    </div>
            </div>


            

            <div v-if="accountPage">
                <div class="row" >
                    <h4 class="q-my-none">{{ text.account_detail_screen.customer_area }}</h4>
                </div>

                <div class="row">
                    <div class="col-12">
                        <q-card flat bordered class="my-card bg-grey-1">
                            <q-card-section>
                              <div class="row items-center no-wrap">
                                <div class="col">
                                  <div class="text-h6">{{ text.general.bank_name }}</div>
                                  <div class="text-subtitle2">{{ text.general.user_full_name }}</div>
                                  2312 9924 4417 7848 2842
                                </div>
                      
                                <img width="220px" src="images/logo-bank.png"/>
                              </div>
                            </q-card-section>
                      
                            <q-card-section class="q-pt-none">
                              <q-btn :label="text.account_detail_screen.get_accounts" size="md" outline text-color="grey-10"  class="q-mt-md" color="grey-2" @click="getAccounts"></q-btn>
                              <q-btn :label="text.account_detail_screen.get_currency" size="md"  outline text-color="grey-10"  class="q-mt-md q-ml-md" color="grey-2" @click="getBalance"></q-btn>
                            </q-card-section>
                      
                            <q-separator></q-separator>
                            <q-card-section>
                                <pre v-if="printedResponse != ''">
                                {{ printedResponse }}
                                </pre>
                            </q-card-section>
                          </q-card>
                    </div>
                </div>
                
                <div v-if="showRequestDetails" class="row q-mt-lg">
                    <div class="col-12">
                        <q-list bordered class="rounded-borders">
                            <q-expansion-item
                            expand-separator
                            :label="text.general.request_datails"
                            class="bg-grey-1"
                            >
                            <q-card class="bg-grey-1">
                                <q-card-section>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="authorizationCode"
                                                type="text"
                                                label="Authorization Code"
                                            />
                                        </div>
                                    </div>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="idToken"
                                                type="text"
                                                label="ID Token"
                                            />
                                        </div>
                                    </div>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="scope"
                                                type="text"
                                                label="Request scope"
                                            />
                                        </div>
                                    </div>
                                    <div class="row q-py-sm">
                                        <div class="col-12">
                                            <q-input
                                                dense
                                                outlined
                                                color="blue"
                                                v-model="client_assertion"
                                                type="text"
                                                label="Client Assertion"
                                            />
                                        </div>
                                    </div>
                                </q-card-section>
                            </q-card>
                            </q-expansion-item>
                        </q-list>
                    </div>
                    </div>
                </div>
                    
            
        
        </div>
        <div class="website-body">
        <div class="q-pt-xl">
            <div class="row footer q-pt-md">
                <div class="col-4">
                    <ul>
                        <li class="footer-heading">{{ text.footer.institutional }}</li>
                        <li><a>{{ text.footer.jobs }}</a></li>
                        <li><a>{{ text.footer.quotation }}</a></li>
                        <li><a>{{ text.footer.security }}</a></li>
                        <li><a>{{ text.footer.complaint_channel }}</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul>
                        <li class="footer-heading">{{ text.footer.policies }}</li>
                        <li><a>{{ text.footer.security_policy }}</a></li>
                        <li><a>{{ text.footer.privacy_policy }}</a></li>
                        <li><a>{{ text.footer.taxes }}</a></li>
                    </ul>
                </div>
                <div class="col-4 q-pl-lg q-pt-lg">
                    <q-btn @click="toggleRequestDetails" :label="text.footer.show_request_details" size="sm"></q-btn>
                </div>
            </div>
            <div class="row">
                <div class="col-12 q-pl-lg">
                TPartyFinance S.A. - Atlantic Avenue, 1219 - Agostine Hill. ADD: 30190-924 - USA
                FCN: 32.422.91268/32-01
                </div>
            </div>
        </div>


        </div>
        </div>
    </div>


  <script>
    new Vue({
      el: '#q-app',
      data: function () {
        return {
            // This is the Only Parameter that has to be configured on the frontend
            // All other parameters will be configured on .env file on the backend. Follow README.md file for the instructions.
            apiBaseUrl: "http://localhost:8001",

            addBankOptions: [
              "Citizen Bank",
              "International Bank",
              "Mars Bank",
              "Wire Bank"
            ],
            text: {
                "header": {},
                "general": {},
                "footer": {},
                "accounts_screen": {},
                "account_detail_screen": {},
                "alerts": {}
            },
            selectedBank: "",
            tab: '',
            showRequestDetails: false,
            grantType: 'authorization_code',
            clientAssertionType: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer',
            scope: 'openid bank:accounts.basic:read bank:accounts.detail:read bank:transactions:read',
            privateKey: '',
            authorizationCode: '',
            idToken: '',
            loggedIn: false,
            accountPage: false,
            client_assertion: "",
            access_token: "",
            printedResponse: "",
            envVariables: {
                CLIENT_ID: "",
                REDIRECT_URL: "",
                REQUEST_AUTH_TOKEN: "",
                WSO2_PORTAL_BASE_URL: "",
                TRANSLATIONS_FILE: ""
            }
        }
      },
      methods: {
          authenticateRedirect() {
            window.location.href = `${this.envVariables.WSO2_PORTAL_BASE_URL}/authorize?prompt=login&state=state&response_type=code id_token&client_id=${this.envVariables.CLIENT_ID}&redirect_uri=${this.envVariables.REDIRECT_URL}&scope=${this.scope}&request=${this.envVariables.REQUEST_AUTH_TOKEN}`
          },

          toggleRequestDetails() {
            this.showRequestDetails = this.showRequestDetails == true ? false : true
          },

          
          getBalance() {
            const config = {
                headers: {
                    'Authorization': 'Bearer ' + this.access_token
                }
            }

            axios.get(`${this.apiBaseUrl}/balance`, config).then(response => {
                this.printedResponse = response.data
            }).catch( error => {
                this.errorPopup(this.text.alerts.revoked_consent)
            })
          },
          
          getAccounts() {
            const config = {
                headers: {
                    'Authorization': 'Bearer ' + this.access_token
                }
            }

            axios.get(`${this.apiBaseUrl}/accounts`, config).then(response => {
                this.printedResponse = response.data
            }).catch( error => {
                this.errorPopup(this.text.alerts.revoked_consent)
            })
          },

          getToken() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const code = urlParams.get("code");
            this.authorizationCode = code;

            const idToken = urlParams.get("id_token");
            this.idToken = idToken;

            data = {
                "authorizationCode": code
            }

            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            axios.post(`${this.apiBaseUrl}/token`, data, config)
            .then((response) => {
                this.access_token = response.data.access_token
                this.client_assertion = response.data.client_assertion
            })
            .catch((err) => {
                console.log(err)
            })
          },

          async getEnvVariables(){
             response = await axios.get(`${this.apiBaseUrl}/environment-variables`)
                const respEnv = response.data
                this.envVariables = {
                    CLIENT_ID: respEnv.CLIENT_ID,
                    REDIRECT_URL: respEnv.REDIRECT_URL,
                    REQUEST_AUTH_TOKEN: respEnv.REQUEST_AUTH_TOKEN,
                    WSO2_PORTAL_BASE_URL: respEnv.WSO2_PORTAL_BASE_URL,
                    TRANSLATIONS_FILE: respEnv.TRANSLATIONS_FILE
                }
          },

          errorPopup(message) {
            Swal.fire({
                title: message,
                icon: 'warning',
            })
          },

          loggedPage() {
            this.loggedIn = true
            this.addBankOptions.shift()
            this.getToken();
          }
      },
      async mounted () {
        const vue = this

        await this.getEnvVariables();
        var currentUrl = window.location.href;
        if(currentUrl.includes('#')){
            var newUrl = currentUrl.replace("#","?")
            window.location.href = newUrl
        }

        if(window.location.search != '') {
            this.loggedPage()
            // this.generateClientAssetionToken();
        }
        
        fetch("translation/" + this.envVariables.TRANSLATIONS_FILE)
            .then(response => response.json())
            .then(json => vue.text = json);
      }
      // ...etc
    })
  </script>


</body>
<style>
   

</style>

</html>


<!-- IAT hora de agora, Expiration: umas horas pra frente, JTI pode ser o timestamp-->

