<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <meta name="theme-color" content="#fafafa">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@1.15.0/dist/quasar.umd.modern.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kaizhu256.github.io/node-jose-lite/build..beta..travis-ci.org/app/assets.jose.js"></script>


    <div id="q-app">
        <div>
            <div class="row no-wrap">
            <q-toolbar class="col-9 bg-orange text-white">
                <q-btn flat round dense icon="assignment_ind" />
                <q-toolbar-title>
                  Toolbar
                </q-toolbar-title>
            </q-toolbar>
            <q-toolbar  class="toolbar-align-right col-3 bg-grey-3 text-grey-9 text-right">

                <q-btn flat round dense icon="apps" class="q-mr-xs" />
                <q-btn flat round dense icon="more_vert" />
            </q-toolbar>
            </div>
            <!-- <q-toolbar class="text-primary">
                <q-btn flat round dense icon="menu" />
                <q-toolbar-title>
                  Toolbar
                </q-toolbar-title>
                <q-btn flat round dense icon="more_vert" />
              </q-toolbar> -->
            <!-- <q-toolbar class="bg-orange text-white shadow-2">
              <q-btn flat round dense icon="menu" class="q-mr-sm" />
        
              <div class="q-pl-md q-gutter-sm row no-wrap items-center">
              <q-btn round flat>
                    <q-avatar size="26px">
                    <img src="https://cdn.quasar.dev/img/boy-avatar.png">
                    </q-avatar>
                    <q-tooltip>Account</q-tooltip>
                </q-btn>
                </div>
            </q-toolbar> -->
        </div>
        <div id="website-body">
            

        <div class="text-center q-mt-xl q-pa-xl">
            <img src="logo-fintech.png"/>
        </div>
        

        <div class="row" v-if="!loggedIn">
            <div class="col-8 q-px-md">
                <q-list bordered class="rounded-borders">
                    <q-expansion-item
                      expand-separator
                      label="Detalhes da requisição"
                      class="bg-grey-1"
                    >
                      <q-card class="bg-grey-1">
                        <q-card-section>
                            <div class="row q-py-sm">
                                <div class="col-12">
                                    <q-input
                                        dense
                                        outlined
                                        color="blue"
                                        v-model="clientId"
                                        type="text"
                                        label="Client ID"
                                    />
                                </div>
                            </div>
                            <div class="row q-py-sm">
                                <div class="col-12">
                                    <q-input
                                        dense
                                        outlined
                                        color="blue"
                                        v-model="grantType"
                                        type="text"
                                        label="Grant Type"
                                    />
                                </div>
                            </div>
                            <div class="row q-py-sm">
                                <div class="col-12">
                                    <q-input
                                        dense
                                        outlined
                                        color="blue"
                                        v-model="scope"
                                        type="text"
                                        label="Request scope"
                                    />
                                </div>
                            </div>
                            <div class="row q-py-sm">
                                <div class="col-12">
                                    <q-input
                                        dense
                                        outlined
                                        color="blue"
                                        v-model="requestToken"
                                        type="text"
                                        label="Request token"
                                    />
                                </div>
                            </div>
                        </q-card-section>
                      </q-card>
                    </q-expansion-item>
                </q-list>
            </div>
            <div class="col-4">
                <q-btn label="" size="lg" text-color="white" color="blue-10" @click="authenticateRedirect"> <img class="q-ml-sm" style="width: 60px;" src="logo-bank.png"/> </q-btn>
            </div>
        </div>
        

        <di v-if="loggedIn">
            <div class="row" >
                <h3 class="q-my-none">Área do cliente</h3>
            </div>

            
            <div class="row q-py-lg">
                <div class="col-12">
                    <div>
                        <q-btn label="Obter contas" size="md" text-color="white"  class="q-mt-md" color="blue-10" @click="getAccounts"></q-btn>
                      </div>
                    </div>

                <div class="col-12">
                    <div>
                        <q-btn label="Obter Saldo" size="md" text-color="white"  class="q-mt-md" color="orange" @click="getBalance"></q-btn>
                        </div>
                    </div>
            </div>

            <div class="row q-py-lg">
                <div class="col-12">
                    <pre>
                        {{accounts}}
                    </pre>
                </div>

                <div class="col-12">
                    <pre>
                        {{balance}}
                    </pre>
                </div>
            </div>
            
            <div class="row">
                <div class="col-8">
                    <q-list bordered class="rounded-borders">
                        <q-expansion-item
                        expand-separator
                        label="Detalhes da obtenção do Token"
                        class="bg-grey-1"
                        >
                        <q-card class="bg-grey-1">
                            <q-card-section>
                                <div class="row q-py-sm">
                                    <div class="col-12">
                                        <q-input
                                            dense
                                            outlined
                                            color="blue"
                                            v-model="authorizationCode"
                                            type="text"
                                            label="Authorization Code"
                                        />
                                    </div>
                                </div>
                                <div class="row q-py-sm">
                                    <div class="col-12">
                                        <q-input
                                            dense
                                            outlined
                                            color="blue"
                                            v-model="idToken"
                                            type="text"
                                            label="ID Token"
                                        />
                                    </div>
                                </div>
                                <div class="row q-py-sm">
                                    <div class="col-12">
                                        <q-input
                                            dense
                                            outlined
                                            color="blue"
                                            v-model="scope"
                                            type="text"
                                            label="Request scope"
                                        />
                                    </div>
                                </div>
                                <div class="row q-py-sm">
                                    <div class="col-12">
                                        <q-input
                                            dense
                                            outlined
                                            color="blue"
                                            v-model="requestToken"
                                            type="text"
                                            label="Request token"
                                        />
                                    </div>
                                </div>
                                <div class="row q-py-sm">
                                    <div class="col-12">
                                        <q-input
                                            dense
                                            outlined
                                            color="blue"
                                            v-model="client_assertion"
                                            type="text"
                                            label="Client Assertion"
                                        />
                                    </div>
                                </div>
                            </q-card-section>
                        </q-card>
                        </q-expansion-item>
                    </q-list>
                </div>
                </div>
                
        </div>
    </div>
        <div class="q-py-xl"></div>
    </div>


  <script>

    new Vue({
      el: '#q-app',
      data: function () {
        return {
            leftDrawerOpen: true,
            clientId: 'E7QDJ0EGjCEJGDdjXwgSRK1D48ca',
            grantType: 'authorization_code',
            clientAssertionType: 'urn:ietf:params:oauth:client-assertion-type:jwt-bearer',
            redirectUri: 'http://localhost:8081',
            requestToken: 'eyJhbGciOiJQUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IkR3TUtkV01tajdQV2ludm9xZlF5WFZ6eVo2UWMifQ.eyJhdWQiOiJodHRwczovL2xvY2FsaG9zdDo4MjQzL3Rva2VuIiwicmVzcG9uc2VfdHlwZSI6ImNvZGUgaWRfdG9rZW4iLCJjbGllbnRfaWQiOiJFN1FESjBFR2pDRUpHRGRqWHdnU1JLMUQ0OGNhIiwicmVkaXJlY3RfdXJpIjoiaHR0cDovL2xvY2FsaG9zdDo4MDgxIiwic3RhdGUiOiJhZjBpZmpzbGRraiIsIm5vbmNlIjoibi0wUzZfV3pBMk1qIiwiY2xhaW1zIjp7InNoYXJpbmdfZHVyYXRpb24iOiI3MjAwIiwiaWRfdG9rZW4iOnsiYWNyIjp7ImVzc2VudGlhbCI6dHJ1ZSwidmFsdWVzIjpbInVybjpjZHMuYXU6Y2RyOjMiXX19LCJ1c2VyaW5mbyI6eyJnaXZlbl9uYW1lIjpudWxsLCJmYW1pbHlfbmFtZSI6bnVsbH19fQ.JKhZazDngh5z6BNN1p8SrONS3By7SFabnEsXHZ7VVdPcjRIWX15Lf7SZ1XYsXgE39eX_Ot8p67rRq9h88u3lD8Sfp2v8VUU3dUmXwNPUttWYuVrNlxCvGaza8CLOJ0UhfzZkN4EVc39us6_g3fo1AooOPx5aAohwAUT7iycVYtHJnZrofeTgyQ_IJXMJUpr7olUXcGsk_g9oVpgCPCfPxaAd9HX9EHJVR-Bx-YOfDwtQC_msizhKxmqmlbIeOZYPPI7EF8RgeUhGDIrkfCrZcjurU4-4Rzge6xGqoLa9ncLKJBGFfGKfYL64X032YIjcwwiDxFZLC7RRAy2IrDS5lg',
            scope: 'openid bank:accounts.basic:read bank:accounts.detail:read bank:transactions:read',
            privateKey: '',
            authorizationCode: '',
            idToken: '',
            loggedIn: false,
            client_assertion: "",
            access_token: "",
            accounts: "",
            balance: "",
            envVariables: {
                AUDIENCE: "",
                CLIENT_ID: "",
                REDIRECT_URL: "",
                REQUEST_AUTH_TOKEN: "",
                WSO2_PORTAL_BASE_URL: ""
            }
        }
      },
      methods: {
          authenticateRedirect() {
            window.location.href = `https://localhost:8243/authorize?prompt=login&state=state&response_type=code id_token&client_id=${this.clientId}&redirect_uri=${this.redirectUri}&scope=${this.scope}&request=${this.requestToken}`
          },

          
          getBalance() {
            const config = {
                headers: {
                    'Authorization': 'Bearer ' + this.access_token
                }
            }

            axios.get("http://localhost:8001/balance", config).then(response => {
                this.balance = response.data
            })
          },
          
          getAccounts() {
            const config = {
                headers: {
                    'Authorization': 'Bearer ' + this.access_token
                }
            }

            axios.get("http://localhost:8001/accounts", config).then(response => {
                this.accounts = response.data
            })
          },

          getToken() {
            const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            var code = urlParams.get("code");
            this.authorizationCode = code;

            var idToken = urlParams.get("id_token");
            this.idToken = idToken;

            console.log(code)
            console.log("--------------- \n")
            console.log(idToken)
            // const axios = require('axios');

            data = {
                "authorizationCode": code
            }

            const config = {
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            axios.post('http://localhost:8001/sign-token', data, config)
            .then((response) => {
                console.log(response.data)
                this.access_token = response.data.access_token
                this.client_assertion = response.data.client_assertion
            })
            .catch((err) => {
                console.log(err)
            })
          },

          getEnvVariables(){
            axios.get("http://localhost:8001/environment-variables").then(response => {
                console.log(response.data)
                const respEnv = response.data
                this.envVariables = {
                    AUDIENCE: respEnv.AUDIENCE,
                    CLIENT_ID: respEnv.CLIENT_ID,
                    REDIRECT_URL: respEnv.REDIRECT_URL,
                    REQUEST_AUTH_TOKEN: respEnv.REQUEST_AUTH_TOKEN,
                    WSO2_PORTAL_BASE_URL: respEnv.WSO2_PORTAL_BASE_URL
                }
            })
          },

          loggedPage() {
            this.loggedIn = true
            this.getToken();
          }
      },
      async mounted () {
        this.getEnvVariables();

        var currentUrl = window.location.href;
          if(currentUrl.includes('#')){
            var newUrl = currentUrl.replace("#","?")
            window.location.href = newUrl
          }

        if(window.location.search != '') {
            this.loggedPage()
            // this.generateClientAssetionToken();
        }

      }
      // ...etc
    })
  </script>


</body>
<style>
    #q-app {
        width:  100vw;
    }

    #website-body {
        width: 60%;
        margin: auto;
    }

    .toolbar-align-right {
        display: flex;
        justify-content: flex-end;
    }


</style>

</html>


<!-- IAT hora de agora, Expiration: umas horas pra frente, JTI pode ser o timestamp-->